<div class="container">
    <form [formGroup]="registerForm" class="form">
        <div class="form-group">
            <label class="d-block">Name</label>
            <input type="text" class="form-control" formControlName="name"   [ngClass]="{ 'is-invalid': submitted && registerFormControls['name'].errors }">
            <div *ngIf="submitted && registerFormControls['name'].errors" class="invalid-feedback mb-3">
                <div *ngIf="registerFormControls['name'].errors['required']">Name is required</div>        
           </div>
        </div>
        <div class="form-group">
            <label class="d-block">Email</label>
            <input type="email" class="form-control" formControlName="email"   [ngClass]="{ 'is-invalid': submitted && registerFormControls['email'].errors }">
            <div *ngIf="submitted && registerFormControls['email'].errors" class="invalid-feedback mb-3">
                <div *ngIf="registerFormControls['email'].errors['required']">Email is required</div>        
           </div>
        </div>
        <div class="form-group">
            <label class="d-block">Password</label>
            <input type="password" class="form-control" formControlName="password"   [ngClass]="{ 'is-invalid': submitted && registerFormControls['password'].errors }">
            <div *ngIf="submitted && registerFormControls['password'].errors" class="invalid-feedback mb-3">
                <div *ngIf="registerFormControls['password'].errors['required']">Password is required</div>        
           </div>
        </div>
        <div class="form-group">
            <label class="d-block">Role</label>
            <select class="form-control" formControlName="role">
                <option value="select Role" selected>Select Role</option>
                <option *ngFor="let role of userRoles"  [value]="role">
                    {{role}}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="register()">
            Register
        </button>
    </form>
</div>
